body {
    height: 100%;
    max-width: 100%;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5 {
    color: #333;
}
#texthead {
    margin-top: 150px;
}
h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
img {
    max-width: 100%;
}
.avatar {   
    margin-top: 67px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #6a6a6a;
    -webkit-border-radius: 50%;
}
#gallery {
    margin-top: 2rem;
}
#map {
    margin-top: 20px;
    height: 75%;
    width: 100%;
    position: absolute;
}
#gmap {
    height: 100%;
}


