
body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5 {
    color: #333;
}

#texthead {
    margin-top: 150px;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}
.blockquote-footer {
    margin: 1rem 0 0;

}
#stage {
    background: url('https://cdn-images-1.medium.com/max/2000/1*bwhOOimPdv4423VxAux-pA.jpeg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}
#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}
#stage-caption h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}

#stage-2 {
    background-color: #292b2c;
    height: 100px;
}
#stage-3 {
    background-color: #292b2c;
    height: 100%;
}
#iconrow {
  margin-bottom: 20px;
    width: 50%;
}
#iconbig {


}
.avatar {
    
    margin-top: 67px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #6a6a6a;
    -webkit-border-radius: 50%;
}
#section-map {
    background-color: #292b2c;
}
#route {
    float: right;
    margin-top: 10px;

    width: 12%;
    margin-right: 100px;
}
#mapicon {

    width: 13%;
    margin-left: 100px;
}
#places {
    text-align: center;
    z-index: 1;
    color: white;

    
}
#map {
    height: 75%;
    width: 100%;
    position: absolute;
      }